<!--EVENT - Single Card  -->
<div class="card">
  <div class="card_content">
    <div class="card_header">
      <h4>30 Days Of Google Cloud</h4>
      <span class="card_logo_img">
        <img src="./images/logo.png" alt="GDSC Logo" />
      </span>
    </div>
    <div class="card_text">
      <p class="small_text">Club</p>
      <p class="medium_text">GDSC</p>
    </div>
    <div class="text_flex">
      <div class="card_text">
        <p class="small_text">Date</p>
        <p class="medium_text">28 Sept 2021</p>
      </div>
      <div class="card_text">
        <p class="small_text">Time</p>
        <p class="medium_text">19:00 - 20:00</p>
      </div>
    </div>
    <p class="rsvp">RSVP</p>
  </div>
</div>
