:root {
  --color-primary: #bb2226;
  --color-text: #354052;
  --color-heading: #11141a;
  --color-small-text: #7f8fa4;
  --color-rsvp: #19386f;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5; /*temp*/
}

/*Grids*/

.grid {
  display: grid;
}

.grid--1x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/*Quick Stats*/

.stat_heading {
  font-size: 14px;
  font-weight: 900;
  margin: 0 167px 6px 1px;
}

.stat_gap {
  gap: 1rem;
  width: 80%;
}

.box_small {
  width: 82px;
  margin: 12px 40px 0 0;
  text-align: left;
  background: #fff;
  padding: 24px 105px 25px 25px;
  border-radius: 12px;
}

.box_text_red {
  color: var(--color-primary);
}

.box_small > p {
  font-size: 14px;
  margin: 0 0 3px;
  color: var(--color-text);
}

.box_small > h3 {
  font-size: 32px;
  font-family: "Lato", sans-serif;
  margin: 3px 61px 0 0;
  color: var(--color-heading);
}

/*Card*/

.card {
  width: 410px;
  padding: 3px 19px 3px 20.5px;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #fff;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.small_text {
  font-size: 12px;
  color: var(--color-small-text);
  margin: 0 12px 3px 0;
}

.medium_text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  margin: 3px 0 0;
}

.card_content > h4 {
  font-size: 18px;
  letter-spacing: 0.75px;
  margin: 0 121.8px 14px 0;
  color: var(--color-heading);
}

.text_flex {
  display: flex;
  gap: 5.6rem;
  margin: 27px 0 25px 0;
}

.card_logo_img {
  height: 1.7rem;
  width: 1.7rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 9px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rsvp {
  font-size: 14px;
  font-weight: 900;
  color: var(--color-rsvp);
  border-top: 1px solid #eaeaea;
  padding-top: 17px;
}

/*temp*/
.a {
  width: 10rem;
  height: 10rem;
  background: lightgreen;
}
