<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/club.css">
    <title>CUNION | Clubs</title>
</head>
<body>

   <div class="container">
       <div id="join-box" class="text-center">
           <h3>Google Developer Student Clubs</h3>
           <h4 id="cu">Chandigarh University</h4>
           <button id="join-us">Join Us</button>
       </div>
       <div id="about-box">
           <h5>About</h5>
           <p>Developer Student Clubs - Chandigarh University: Helping students bridge the gap between theory and practice</p>
           <p>Developer Student Clubs Chandigath University is a community group for students interested in google developer technologies. Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome to join out family. By joining a DSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.</p>
           <p>The Developer Student Clubs at Chandigath University strives to enhance the educational, recreational, social, or cultural environment of Chandigarh University by being invlusive to all students, by transforming knowledge to students, by forging closer relationships between students and local businesses in the community, and by promoting diversity in the tech community.</p>
       </div>
       <div id="vision-box" class="container">
            <section class="row">
                <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                    <div class="vision-tile">
                        <div>
                            <h5>Connect</h5>
                            <span>Meet other students on campus interested in developer technlogies. All are welcome, including those with diverse backgrounds and different majors.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                    <div class="vision-tile">
                        <div>
                            <h5>Learn</h5>
                            <span>Learn about a wide range of technical topics where new skills are gained through hands-on workshops, in-person training and project building activities.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                    <div class="vision-tile">
                        <div>
                            <h5>Grow</h5>
                            <span>Apply your new learnings and connections to build great solutions for local problems. Advance your skills, career and network. Give back to you rcommunity by helping others learn as well.</span>
                        </div>
                    </div>
                </div>
            </section>
       </div>
   </div>

</body>
</html>